<!doctype html>
<html lang="en">
<head>
    <title>Python/Flask Testing Site - KLC</title>
    <meta charset="UTF-8">
    <meta name="description" content="Python/Flask Testing Site">
    <meta name="keywords" content="python, flask, api">
    <link rel="stylesheet" href="scripts/pagestyles.css" type="text/css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<p id="paraCenter">
    <img src="/images/large-logo.png" title="Kasi Lake Consulting LLC logo" alt="Kasi Lake Consulting LLC logo" style="width:100%; max-width:834px;">
</p>

<p id="paraCenter">Welcome to our Python/Flask API host site.</p>

<p id="paraCenter">Please see our <a href="https://www.kasilakeconsulting.com/code.php">code sharing page</a> for information and sources.</p>

<p style="text-align: center; font-size:10pt;">
    <br> <br>
    Copyright &copy; 2021, <span translate="no">Kasi Lake Consulting LLC</span><br>
    Trademarks are owned by their respective companies.
</p>
</body>
</html>
