<!doctype html>
<html lang="en">
<head>
    <title>Python/Flask Testing Site - KLC</title>
    <meta charset="UTF-8">
    <meta name="description" content="Python/Flask Testing Site">
    <meta name="keywords" content="python, flask, api">
    <link rel="stylesheet" href="scripts/pagestyles.css" type="text/css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<p id="paraCenter">
    <img src="/images/large-logo.png" title="Kasi Lake Consulting LLC logo" alt="Kasi Lake Consulting LLC logo" style="width:100%; max-width:834px;">
</p>

<p>Welcome to the Python/Flask API hosting test site which is maintained by <a href="https://www.kasilakeconsulting.com" target="_blank">Kasi Lake Consulting LLC</a>.</p>

<p><b>National Weather Service API</b></p>

<ul>

    <li>
        Application: Click on a point on a U.S. map to obtain the forecast for that area. A Python/Flask API is used by this HTML/Javascript page.<br>
        <a href="https://kasilakeconsulting.com/clickforecast.html" target="_blank">https://kasilakeconsulting.com/clickforecast.html</a>
    </li>

</ul>


<p style="text-align: center; font-size:10pt;">
    <br> <br>
    Copyright &copy; 2021, <span translate="no">Kasi Lake Consulting LLC</span><br>
    Trademarks are owned by their respective companies.
</p>
</body>
</html>
